<!DOCTYPE html>
<html>
<head>
    <title>Twitch TV API example</title>
    <meta charset="utf-8" />
    <link href="css/style.css" rel="stylesheet" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.3.0/css/foundation.css" rel="stylesheet" />
</head>
<body ng-app="TwitchTV">
    <div class="twitch-widget" ng-controller="TwitchTVController">
        <div class="row info-header">
            <div class="small-10 columns">
                <h1>Twitch TV Streamers</h1>
            </div>
            <div class="small-2 columns">
                <select ng-model="selectedFilter" ng-change="filterChanged()"
                        ng-options="filterOption.name  for filterOption in filterOptions"></select>
            </div>
        </div>
        <div class="row main-content">
            <ul class="streams">
                <li ng-repeat="stream in streams | filter: { toDisplay: 'true'}" class="stream-element">
                    <img ng-src="{{stream.logo}}" ng-click="log(this)" class="stream-logo"/>
                    <a href="" ng-href="{{stream.url}}" target="_blank" class="stream-name">{{stream.name}}</a>
                    <span class="stream-game">{{stream.game}}</span>
                </li>
            </ul>
        </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.1/angular.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.1/angular-route.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.1/angular-resource.js"></script>
    <script src="js/twitchModule.js"></script>
</body>
</html>
